version: '3.7'
services:
  db:
    image: library/mysql:5.7.27
    volumes:
      - ./tmp/db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    env_file:
      - ./.env
  web:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/sixdegreesofcovid19
    ports:
      - "3000:3000"
    env_file:
      - ./.env
